[user]
name = Julio Vidaurre
email = julio.vidaurre@gmail.com
[alias]
	st = status
	cm = commit
	cmm = commit -m
	unstage = reset HEAD --
	last = log -1 HEAD
	logall = log --oneline --graph
	log-all = log --oneline --graph
[credential]
	helper = store
[core]
	editor = nvim
